
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.all.css') }}" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"  crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"  crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>

    <style>
        hr { 
          display: block;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          margin-left: auto;
          margin-right: auto;
          border-style: inset;
          border-width: 1px;
        } 
      </style>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('sql_database') }}">
            <img src="{{ url_for('static', filename='logo_nevula.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
            Nevula CS - Certificar Protocolos
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link active" href="{{ url_for('sql_database') }}">Inicio <span class="sr-only">Inicio</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('opciones') }}">Opciones</a>
            </li>
          </ul>
        </div>
      </nav>

    <title>{% block title %}{% endblock %} - Certificación de Nevula CS</title>
    {% endblock %}
</head>

<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        <!-- &copy; Copyright 2019 by <a href="http://xpectra.com/">Xpectra System Development</a>. -->
        {% endblock %}
    </div>
</body>
</html>