{% extends "Base.html" %}

<html>
        {% block head %}
            {{ super() }}
            
        {% endblock %}

   <body>
    {% block content %}
        {{ super() }}


        <div id='Inicio'>
            <div id='Tareas'>
                    <div class ='row'  style = 'margin-left: 100px; margin-right: 100px; width: 90%;'>
                        <div class="col-md-4" style='padding-top: 20px; padding-left:20px;'>
                            <h3>Tareas</h3>
                        </div>
                        <div class ='row'  style = 'margin-left: 100px; margin-right: 100px; width: 90%;'>
                            <div class="col-xs-4" >
                                <div class="dropdown">
                                        <button id='tarea' class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Seleccionar Tarea
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            {% for tarea in tareas %}
                                                <li><a class="dropdown-item" href="#" onclick="printTarea('{{tarea[0]}}' , '{{tarea[1]}}')">{{tarea[1]}}</a></li>
                                            {% endfor %}
                                        </ul>
                                </div>
                                
                            </div>
                            <div class="col-xs-4">
                                <div class="btn-group" role="group" aria-label="...">
                                        <button id='ejTarea' type="button" class="btn btn-success" onclick="ejecutarTarea()">Ejecutar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <input type="hidden" id="TareaSelect" value="0">
            </div>
            
            <br><hr>
            <div id='MensajeSelect'>
                <div class ='row'  style = 'margin-left: 100px; margin-right: 100px; width: 90%;'>
                    <div  class="col-xs-4" style='padding-top: 20px; padding-left:20px;'>
                        <h3>Prueba de Mensaje</h3>
                    </div>
                    <div class="col-md-4" style='margin-top: 10px; margin-left: 100px; margin-right: 100px; width: 90%;'>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend"d>
                                <div class="input-group-btn">
                                    <button  id="protoButton" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Protocolo <span class="caret"></span></button>
                                    <ul id="protoSelect" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <div id='listaPro'>
                                            {% for proto in protocolos %}
                                                <li><a class="dropdown-item" href="#" onclick="initMensaje( '{{ proto[0] }}', '{{ proto[1] }}' )"> {{ proto[1] }}</a></li>
                                            {% endfor %}
                                        </div>
                                    </ul>
                                </div><!-- /btn-group -->
                                <div class="input-group-btn">
                                    <button id="eventoButton"  type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Evento</button>
                                    <ul id="eventoSelect" class="dropdown-menu pre-scrollable" role="menu" aria-labelledby="dLabel">
                                        <div id='listaEvento'>
                                            <li><a class="dropdown-item" href="#"> Seleccione un protocolo</a></li>
                                        </div>
                                    </ul>
                                </div><!-- /btn-group -->
                                <div class="input-group-btn">
                                    <input id="clienteTB" type="text" class="form-control" aria-label="..." placeholder="Cliente" onkeyup="updateTexto()">
                                </div><!-- /btn-group -->
                                <div class="input-group-btn">
                                    <input id="zonaTB" type="text" class="form-control" aria-label="..." placeholder="Zona" onkeyup="updateTexto()">
                                </div><!-- /btn-group -->
                            </div>
                            <input id="messageTB" type="text" class="form-control" aria-label="..." placeholder="Mensaje">
                            <div class="btn-group" role="group" aria-label="...">
                                    <button id='ejMensaje' type="button" class="btn btn-success" onclick="enviarMensaje()">Ejecutar</button>
                            </div>
                        </div><!-- /input-group -->
                    </div>
                </div>
            </div>

            <br><hr>
            <div id='ProtoCompleto'>
                    <div class ='row'  style = 'margin-left: 100px; margin-right: 100px; width: 90%;'>
                        <div class="col-md-4" style='padding-top: 20px; padding-left:20px;'>
                            <h3>Prueba de Protocolo</h3>
                        </div>
                        <div class ='row'  style = 'margin-left: 100px; margin-right: 100px; width: 90%;'>
                            <div class="col-xs-4" >
                                <div class="dropdown">
                                        <button id='protoFull' class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Seleccionar Protocolo
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                                <div id='listaPro2'>
                                                        {% for proto in protocolos %}
                                                            <li><a class="dropdown-item" href="#" onclick="initMensaje2('{{ proto[0] }}', '{{ proto[1] }}' )"> {{ proto[1] }}</a></li>
                                                        {% endfor %}
                                                </div>
                                        </ul>
                                </div>
                                
                            </div>
                            <div class="col-xs-4">
                                <div class="btn-group" role="group" aria-label="...">
                                        <button id='ejProto' type="button" class="btn btn-success" onclick="ejecutarProtocolo()" disabled>Ejecutar</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>



        

        <div id='Resultados' style="display: none; padding-top: 40px; margin-left: 100px; margin-right: 100px; width: 90%;">
            <div id="Mensaje">
                <div class="alert alert-primary" role="alert">
                    Enviando Mensajes, Por favor espere
                </div>
            </div>
            <div class ='row' style='margin-top: 10px; margin-left: 100px; margin-right: 100px; width: 90%;'>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary" onclick="toggleResults2()">Regresar</button>
                </div>
                <div id="ResultButton" class="col-md-4" style='display: none;'>
                    <a href="{{ url_for('descargar_log') }}">
                        <button type="button" class="btn btn-primary">Exportar CSV</button>
                    </a>
                </div>
            </div>
            <div id="resulTable" style="display: none;margin-top: 20px;">
                    <table id="resultTB" class = 'table table-hover' style = 'margin-left: 100px; margin-right: 100px; width: 90%;'>
                        <thead>
                            <tr>
                            <th>Mensaje</th>
                            <th>Status</th>
                            <th>Nota</th>
                            </tr>
                        </thead>
                    </table>
            </div>
        </div>
    </body>
</html>

<script>
        var regla
        var protoID
        var protoID2
        var ready = false
       $(document).ready(function(){
            $("#messageTB").val("");
            $('#ejTarea').prop('disabled', true);
            $('#ejMensaje').prop('disabled', true);
            if ($('#messageTB').val().length != 0) {$('#ejMensaje').prop('disabled', false);}

           var socket_2 = io.connect('http://' + document.domain + ':' + location.port + '/mesg', {
                reconnect: true,
                reconnectionDelay: 1000,
                reconnectionDelayMax : 5000,
                reconnectionAttempts: Infinity});
           socket_2.on('Resultados', function(msg) {                                            // Receptor de informacion del servidor al recibir una señal
                    ready = false
                    $('#ResultButton').prop('disabled', true)
                    $('#resultTB').append('<tr><td>' + msg.data[0] + '</td><td>' + msg.data[2] + '</td><td>' + msg.data[3] + '</td><tr>')
           });

           var socket_3 = io.connect('http://' + document.domain + ':' + location.port + '/mesg', {
                reconnect: true,
                reconnectionDelay: 1000,
                reconnectionDelayMax : 5000,
                reconnectionAttempts: Infinity});
            socket_3.on('Resultados2', function(msg) {
                $('#Mensaje').toggle('show')
                $('#ResultButton').toggle('show')
                ready = true
           });
       });


       function printTarea (idtarea, tarea){
                $('#ejTarea').prop('disabled', false)
                $('#tarea').html(tarea);
                $("#TareaSelect").val(idtarea)           
           }

        function ejecutarTarea (){
           var socket = io.connect('http://' + document.domain + ':' + location.port + '/mesg');        // Iniciar Socket.io
           socket.emit('ejecutarTarea', {data: $("#TareaSelect").val()});
           toggleResults()                                        
           }

        function ejecutarProtocolo (){
           var socket = io.connect('http://' + document.domain + ':' + location.port + '/mesg');        // Iniciar Socket.io
           socket.emit('ejecutarProtocolo', {data: protoID2});
           toggleResults()                                
           }

        function initMensaje(proto, protoN){
            protoID = proto
            $("#eventoButton").html("Evento")
            $('#clienteTB').val("")
            $('#zonaTB').val("")
            $('#protoButton').html(protoN)
            getMensaje()
            getEventos()
        }

        function initMensaje2(proto, protoN){
            protoID2 = proto
            $('#ejProto').prop('disabled', false)
            $('#protoFull').html(protoN)
        }

       function getMensaje (){
           var socket = io.connect('http://' + document.domain + ':' + location.port + '/mesg');
           peti = []
           peti.push(protoID)
           if ($("#eventoButton").html() != "Evento") {peti.push($("#eventoButton").html());}
           else {peti.push("NULL");}
           if ($('#clienteTB').val().length != 0) {peti.push($('#clienteTB').val());}
           else {peti.push("NULL");}
           if ($('#zonaTB').val().length != 0) {peti.push($('#zonaTB').val());}
           else {peti.push("NULL");}
           socket.emit('SolicitarMensaje', {data: peti});
           socket.on('mostrarMensaje', function(msg) {
                $("#messageTB").val(msg.data[0])
                regla = msg.data[1]
                if ($('#messageTB').val().length != 0) {$('#ejMensaje').prop('disabled', false);}
            });    
        }

        function getEventos(){
            
            var socket2 = io.connect('http://' + document.domain + ':' + location.port + '/proto');
            socket2.emit('SolicitarProtocolos4', {data: protoID});  
            socket2.on('listaProtocolos4', function(msg) {
                document.getElementById("listaEvento").innerHTML = "";
                for (let o of msg.data[0]) {
                        $("#clienteTB").prop('maxlength', msg.data[1][0]);
                        $("#clienteTB").prop('placeholder', msg.data[1][1]);
                        $("#zonaTB").prop('maxlength', msg.data[2][0]);
                        $("#zonaTB").prop('placeholder', msg.data[2][1]);
                        $('#listaEvento').append('<li><a class="dropdown-item" onclick="putEvento(\'' + o[0] + '\')" value="'+ o[0] + '">' + o[0] + " - " + o[1] + '</a></li>')
                    }
            });
        }

        function putEvento(eve){
            $("#eventoButton").html(eve)
            getMensaje()
        }

        function updateTexto(){
            getMensaje()
        }

        function enviarMensaje() {
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/mesg');        // Iniciar Socket.io
           socket.emit('enviarMensaje', {data: [$("#messageTB").val(), regla]});    
           socket.on('mostrarResultados', function(msg) { 
                $("#messageTB").val(msg.data)
            });
            toggleResults() 
        }

        function toggleResults() {
            $("resultTB").find("tr:gt(0)").remove();
            $("resultTB > tbody:last").children().remove();
            $("#Inicio").toggle('show', 2000)
            $("#Resultados").toggle('show')
            $("#resulTable").toggle('show')
            }

            function toggleResults2() {
            $("resultTB").find("tr:gt(0)").remove();
            $("resultTB > tbody:last").children().remove();
            $("#Inicio").toggle('show', 2000)
            $("#Resultados").toggle('show')
            $("#resulTable").toggle('show')
            $('#Mensaje').prop('disabled', true);
            $('#ResultButton').prop('disabled', true);
            $('#Mensaje').toggle('show')
            $('#ResultButton').toggle('show')
            //ready = false
        }
   </script>
{% endblock content %}