{% extends "Base.html" %}

<html>
        {% block head %}
            {{ super() }}
            {% block title %} {{ super() }} {% endblock %}
        {% endblock %}

   <body>
    {% block content %}
        {{ super() }}
      <br><br>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('opciones') }}">Opciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('sql_tarea') }}">Tareas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('sql_proto') }}">Protocolos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('sql_reglas') }}">Reglas de Estado</a>
                </li>
            </ul>


            <div class ='row' style='margin-top: 20px; margin-left: 100px; margin-right: 100px;'>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ReglaCreate">Nueva Regla de Estado</button>
                </div>
                <div class="col-md-4">
                            <button type="button" data-toggle="modal" data-target="#Reglaimport" class="btn btn-primary">Importar CSV</button>
                    </div>
                <div  class="col-md-4">
                    <a href="{{ url_for('descargar_reglas') }}">
                        <button type="button"  class="btn btn-primary">Exportar CSV</button>
                    </a>
                </div>
            </div>

                <table class = 'table table-hover' style = 'margin-top: 20px; margin-left: 100px; margin-right: 100px; width: 90%;'>
                    <thead>
                        <tr>
                        <th>Regla de estado</th>
                        <th>Descripción</th>
                        </tr>
                    </thead>

                    {% for result in reglas %}
                        <tr>
                        <td>{{result[0]}}</td>
                        <td>{{result[1]}}</td>
                        <td align="center"><a href = "#" data-toggle="modal" data-target="#ReglaEdit" onclick="reglaEditar( '{{result[0]}}', '{{result[1]}}')"><i class="fas fa-edit"></a></td>
                        <td align="center"><a href = "{{ url_for('sql_reglas_delete', reglaS=result[0]) }}"><i class="fas fa-trash-alt"></a></td>
                        </tr>
                    {% endfor %}
                </table>


                <!-- Modal para crear entradas -->
                <div id="ReglaCreate" class="modal fade" role="dialog">
                    <div class="modal-dialog">      
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Regla de estado</h4>
                            </div>
                            <div class="modal-body">
                            
                                
                                    <form action="{{ url_for('sql_reglas_tcreate') }}" method="POST">
                                            <div class="form-group row">
                                                <label for="Idn" class="col-sm-4 col-form-label">Regla de estado</label>
                                                <div class="col-sm-10">
                                                    <input id='cliente' type="text" class="form-control" id="Idn" name="Idn" placeholder="#####">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Nombre" class="col-sm-4 col-form-label">Descripción</label>
                                                    <div class="col-sm-10">
                                                        <input id='zona' type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Descripción">
                                                    </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Añadir Regla de estado</button>
                                    </form>
                                </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal para editar entradas -->
                <div id="ReglaEdit" class="modal fade" role="dialog">
                        <div class="modal-dialog">      
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Regla de estado</h4>
                                </div>
                                <div class="modal-body">
                                
                                    
                                        <form action="{{ url_for('sql_reglas_edit') }}" method="POST">
                                                <div class="form-group row">
                                                    <label for="Idn2" class="col-sm-4 col-form-label">Regla de estado</label>
                                                    <div class="col-sm-10">
                                                        <input Type="text" class="form-control" id="Idn2" name="Idn" placeholder="#####">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="Nombre2" class="col-sm-4 col-form-label">Descripción</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="Nombre2" name="Nombre" placeholder="Descripción">
                                                        </div>
                                                </div>
                                                <input type="hidden" class="form-control" id="old_name" name="old_name">
                                                <button type="submit" class="btn btn-primary">Editar entrada</button>
                                        </form>
                                    </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>


                <div id="Reglaimport" class="modal fade" role="dialog">
                    <div class="modal-dialog">      
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Importar Reglas de estado</h4>
                            </div>
                            <div class="modal-body">
                                <form action = "{{ url_for('cargar_reglas') }}" method = "POST" enctype="multipart/form-data">
                                    <div align="center"><input type="file" name="file"><input type=submit value=Cargar></div>
                                </form>
                    
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>





    </body>
</html>

<script>

    function reglaEditar(I, N){
        $("#Idn2").val(I)
        $("#Nombre2").val(N)
        $("#old_name").val(I)
    }



   </script>
{% endblock content %}