{% extends "Base.html" %}

<html>
        {% block head %}
            {{ super() }}
            {% block title %} {{ super() }} {% endblock %}
        {% endblock %}

   <body>
    {% block content %}
        {{ super() }}
      <br><br>

        <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('opciones') }}">Opciones</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('sql_tarea') }}"">Tareas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('sql_proto') }}" ">Protocolos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('sql_reglas') }}">Reglas de Estado</a>
                </li>
              </ul>


            <div id="Opciones"> 
                <div style='margin-top: 20px; margin-left: 100px; margin-right: 100px; width: 90%;''>
                    <div class="form-check">
                            <input class="form-check-input" type="checkbox" value='' id="Check1" {% if status[0] %} checked  {% endif %}>
                            <label class="form-check-label" for="Check1" >
                              Ignorar reglas de estado
                            </label>
                    </div>
                    <div class="form-check" style='margin-top: 20px'>
                            <input class="form-check-input" type="checkbox" value='{{status[1]}}' id="Check2" {% if status[1] %} checked {% endif %}>
                            <label class="form-check-label" for="Check2">
                              Prueba local
                            </label>
                    </div>
                    <hr>
                    <h4>Atención, Las siguientes opciones requieren del reinicio del servidor para que surtan efecto</h4>
                    <div class="form-check">
                      <label for="input1" class="col-sm-2 col-form-label">IP de Servidor Nevula (Reservado)</label>
                              <div class="col-sm-10">
                                <input id='IP' type="text" class="form-control" onkeyup="updateSettings()" placeholder="0.0.0.0" value="{{ data[0] }}">
                              </div>
                      </div>
                      <div class="form-check">
                        <label for="input2" class="col-sm-2 col-form-label">Puerto de Servidor Nevula</label>
                                <div class="col-sm-10">
                                  <input id='Puerto' type="text" class="form-control" onkeyup="updateSettings()" placeholder="##" value="{{ data[1] }}">
                                </div>
                        </div>
                        <div class="form-check">
                          <label for="input3" class="col-sm-2 col-form-label">IP de Archivo Log</label>
                                  <div class="col-sm-10">
                                    <input id='IP2' type="text" class="form-control" onkeyup="updateSettings()" placeholder="0.0.0.0" value="{{ data[2] }}">
                                  </div>
                          </div>
                          <div class="form-check">
                            <label for="input4" class="col-sm-2 col-form-label">Puerto de Archivo Log</label>
                                    <div class="col-sm-10">
                                      <input id='Puerto2' type="text" class="form-control" onkeyup="updateSettings()"  placeholder="##" value="{{ data[3] }}">
                                    </div>
                            </div>
                            <div class="form-check">
                              <label for="input3" class="col-sm-2 col-form-label">Timeout de conexión</label>
                                      <div class="col-sm-10">
                                        <input id='T1' type="text" class="form-control" onkeyup="updateSettings()" placeholder="##" value="{{ data[4] }}">
                                      </div>
                              </div>
                              <div class="form-check">
                                <label for="input4" class="col-sm-2 col-form-label">Timeout de mensajes</label>
                                        <div class="col-sm-10">
                                          <input id='T2' type="text" class="form-control" onkeyup="updateSettings()"  placeholder="##" value="{{ data[5] }}">
                                        </div>
                                </div>
              </div>
            </div>
            </div>

    </body>
</html>

<script>
       $(document).ready(function(){
           var socket = io.connect('http://' + document.domain + ':' + location.port + '/check');
           


           document.getElementById('Check1').onclick = function() {
                if ( this.checked ) {
                    socket.emit('Checkbox', {data: [0, 1] });
                } else {
                    socket.emit('Checkbox', {data: [0, 0]});
                }
            };
            document.getElementById('Check2').onclick = function() {
                if ( this.checked ) {
                    socket.emit('Checkbox', {data: [1, 1]});
                } else {
                    socket.emit('Checkbox', {data: [1, 0]});
                }
            };

            $("#IP").prop('maxlength', 16);
            $("#IP2").prop('maxlength', 16);
            $("#Puerto").prop('maxlength', 5);
            $("#Puerto2").prop('maxlength', 5);
            $("#T1").prop('maxlength', 2);
            $("#T2").prop('maxlength', 2);

       });

       function updateSettings(){
          var socket = io.connect('http://' + document.domain + ':' + location.port + '/check');
          var set = []
          if (ValidateIPaddress($("#IP").val())) {
            set.push($("#IP").val())
          } else set.push("")
          if ($("#Puerto").val().length != 0) {
            set.push($("#Puerto").val())
          }else set.push("")
          if (ValidateIPaddress($("#IP2").val())) {
            set.push($("#IP2").val())
          }else set.push("")
          if ($("#Puerto2").val().length != 0) {
            set.push($("#Puerto2").val())
          }else set.push("")
          if ($("#T1").val().length != 0) {
            set.push($("#T1").val())
          }else set.push("")
          if ($("#T2").val().length != 0) {
            set.push($("#T2").val())
          }else set.push("")
          socket.emit('info', {data: set});
       }

       function ValidateIPaddress(ipaddress) {  
          if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ipaddress)) {  
            return (true)  
          }  
          return (false)  
        }  
   </script>
{% endblock content %}