{% extends "Base.html" %}

<html>
        {% block head %}
            {{ super() }}
            {% block title %} {{ super() }} {% endblock %}
        {% endblock %}

   <body>
    {% block content %}
        {{ super() }}
      <br><br>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('opciones') }}">Opciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('sql_tarea') }}">Tareas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('sql_proto') }}">Protocolos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('sql_reglas') }}">Reglas de Estado</a>
                </li>
            </ul>

            {% if '/opciones/proto' in request.url %}
            <div id="ProtoTable">

                <form action="{{ url_for('sql_proto_tcreate') }}" method="POST" style = 'margin-top: 25px; margin-left: 100px; margin-right: 100px;'>
                    <div class="input-group mb-3">
                            <div class="col-lg-2">
                                <input name = "name" type="text" class="form-control" placeholder="" aria-label="Nombre de Tarea" aria-describedby="button-addon2" required>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Crear Protocolo</button>
                            </div>
                    </div>
                </form>

                <table class = 'table table-hover' style = 'margin-left: 100px; margin-right: 100px; width: 90%;'>
                    <thead>
                        <tr>
                        <th>Protocolo</th>
                        <th>Eventos</th>
                        <th></th>
                        <th></th>
                        </tr>
                    </thead>

                    {% for result in proto %}
                        <tr>
                        <td>{{result[1]}}</td>
                        <td><a href = "{{ url_for('sql_evento_query', protoS=result[0] , protoN=result[1]) }}"><button class="btn btn-primary">Eventos</button></a></td>
                        <td align="center"><a href = "{{ url_for('sql_proto_query', protoS=result[0], protoN=result[1]) }}"><i class="fas fa-edit"></a></td>
                        <td align="center"><a href = "{{ url_for('sql_proto_delete', protoS=result[0], protoN=result[1]) }}"><i class="fas fa-trash-alt"></a></td>
                        </tr>
                    {% endfor %}
                </table>


            </div>
            {% endif %}

            {% if '/opciones/edit' in request.url %}
            <div id="ProtoDetallesTable">

                <form action="{{ url_for('sql_proto_name') }}" method="POST" style = 'margin-top: 25px; margin-left: 100px; margin-right: 100px;'>
                    <div class="input-group mb-3">
                            <div class="col-lg-2">
                                <input name = "name" type="text" class="form-control" placeholder="{{ protoN }}" aria-label="nombre protocolo" aria-describedby="button-addon2" value='{{ select }}'>
                                <input id="selectOldName" type ="hidden" name = "old_name" value='{{ protoN }}' />
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Cambiar nombre</button>
                            </div>
                    </div>
                </form>

                    <table class = 'table table-hover' style = 'margin-left: 100px; margin-right: 100px; width: 90%;'>
                        <thead>
                            <tr>
                            <th>Orden</th>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Tamaño</th>
                            <th>Valor por defecto</th>
                            </tr>
                        </thead>
                        {% for result in results %}
                            <tr>
                            <td>{{result[1]}}</td>
                            <td>{{result[2]}}</td>
                            <td>{{result[3]}}</td>
                            <td>{{result[4]}}</td>
                            <td>{{result[5]}}</td>
                            <td align="center"><a href = "#" data-toggle="modal" data-target="#protoEdit" onclick="bloqueEdit( '{{ result[0] }}', '{{ result[1] }}' , '{{ result[2] }}','{{ result[3] }}','{{ result[4] }}','{{ result[5] }}' )"><i class="fas fa-edit"></a></td>
                            <td align="center"><a href = "{{ url_for('sql_proto_bdelete', proto = result[0] , protoN = protoN ,  orden = result[1] ) }}"><i class="fas fa-trash-alt"></a></td>
                            </tr>
                        {% endfor %}
                    </table>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#protoCreate" style = 'margin-left: 100px; margin-right: 100px;'>Nuevo bloque</button>

                    <div id="protoCreate" class="modal fade" role="dialog">
                            <div class="modal-dialog">      
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Bloque</h4>
                                    </div>
                                    <div class="modal-body">
                                            <form action="{{ url_for('sql_proto_bcreate') }}" method="POST">
                                                    <input id='proto' name="proto" type="hidden" class="form-control" value="{{ protoS }}">
                                                    <input id='protoN' name="protoN" type="hidden" class="form-control" value="{{ protoN }}">
                                                    <div class="form-group row">
                                                        <label for="input1" class="col-sm-2 col-form-label">Orden</label>
                                                        <div class="col-sm-10">
                                                            <input type="number" name="Ord" class="form-control" onkeypress="return isNumberKey(event)" placeholder="1" required>
                                                        </div>
                                                    </div>
            
                                                    <div class="form-group row">
                                                            <label for="input3" class="col-sm-2 col-form-label">Nombre</label>
                                                            <div class="col-sm-10">
                                                                <input id='Nom' name="Nom" type="text" class="form-control" placeholder="Cabezera" required>
                                                            </div>
                                                            </div>
                                                            <div class="form-group row">
                                                    <label for="input2" class="col-sm-2 col-form-label">Tipo</label>
                                                            <div class="col-sm-10">
                                                                
                                                                <div class="input-group-btn">
                                                                    <input type="hidden" id="TSelect" name="TSelect" value="char">
                                                                    <button id="tipoButton"  type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tipo <span class="caret"></span></button>
                                                                    <ul class="dropdown-menu pre-scrollable" role="menu" aria-labelledby="dLabel">
                                                                            <li><a class="dropdown-item" href="#" onclick="setTipo(0,0)" value="ascii"> ascii</a></li>
                                                                            <li><a class="dropdown-item" href="#" onclick="setTipo(1,0)" value="int"> int</a></li>
                                                                            <li><a class="dropdown-item" href="#" onclick="setTipo(2,0)" value="hex"> hex</a></li>
                                                                            <li><a class="dropdown-item" href="#" onclick="setTipo(3,0)" value="char"> char</a></li>
                                                                    </ul>
                                                                </div><!-- /btn-group -->
                                                            </div><!-- /btn-group -->
                                                        </div>
                                                    <div class="form-group row">
                                                            <label for="input4" class="col-sm-2 col-form-label">Tamaño</label>
                                                            <div class="col-sm-10">
                                                                <input id='Tam' name="Tam" type="number" pattern="[0-9]" class="form-control" onkeyup="checkTam(0)" onkeypress="return isNumberKey(event)" placeholder="2" required>
                                                            </div>
                                                            </div>
                                                    <div class="form-group row">
                                                            <label for="input4" class="col-sm-2 col-form-label">Valor por defecto</label>
                                                            <div class="col-sm-10">
                                                                <input id='Def' name="Def" type="text" class="form-control" onkeypress="" placeholder="01" required>
                                                            </div>
                                                            </div>
                                                            
                                                    <div class="form-group row">
                                                        <div class="col-sm-10">
                                                        <button type="submit" class="btn btn-primary">Añadir bloque</button>
                                                        </div>
                                                    </div>
                                                    </form>
                                                </div>
                                    <div class="modal-footer">
                                            Para correcto funcionamiento de la aplicación, al menos un bloque debe llamarse "Codigo Evento" (Para evento de alarma), "Nro Abonado" (Para Cliente), y "Nro Zona_User" (Para la zona de la alarma)
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    <div id="protoEdit" class="modal fade" role="dialog">
                        <div class="modal-dialog">      
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Bloque</h4>
                                </div>
                                <div class="modal-body">
                                        <form action="{{ url_for('sql_proto_bedit') }}" method="POST">
                                                <input id='proto2' name="proto" type="hidden" class="form-control" value="{{ protoS }}">
                                                <input id='protoN2' name="protoN" type="hidden" class="form-control" value="{{ protoN }}">
                                                <input id='protoN2' name="protoB" type="hidden" class="form-control" value="{{ protoN }}">
                                                <div class="form-group row">
                                                    <label for="input1" class="col-sm-2 col-form-label">Orden</label>
                                                    <div class="col-sm-10">
                                                        <input type="number" id="Ord3" name="Ord" class="form-control" onkeypress="return isNumberKey(event)" placeholder="1" disabled>
                                                        <input type="hidden" id="Ord2" name="Ord" class="form-control" onkeypress="return isNumberKey(event)" placeholder="1">
                                                    </div>
                                                </div>
        
                                                <div class="form-group row">
                                                        <label for="input3" class="col-sm-2 col-form-label">Nombre</label>
                                                        <div class="col-sm-10">
                                                            <input id='Nom2' name="Nom" type="text" class="form-control" placeholder="Cabezera" required>
                                                        </div>
                                                        </div>
                                                        <div class="form-group row">
                                                <label for="input2" class="col-sm-2 col-form-label">Tipo</label>
                                                        <div class="col-sm-10">
                                                            
                                                            <div class="input-group-btn">
                                                                <input type="hidden" id="TSelect2" name="TSelect" value="char">
                                                                <button id="tipoButton2"  type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tipo <span class="caret"></span></button>
                                                                <ul class="dropdown-menu pre-scrollable" role="menu" aria-labelledby="dLabel">
                                                                        <li><a class="dropdown-item" href="#" onclick="setTipo(0,1)" value="ascii"> ascii</a></li>
                                                                        <li><a class="dropdown-item" href="#" onclick="setTipo(1,1)" value="int"> int</a></li>
                                                                        <li><a class="dropdown-item" href="#" onclick="setTipo(2,1)" value="hex"> hex</a></li>
                                                                        <li><a class="dropdown-item" href="#" onclick="setTipo(3,1)" value="char"> char</a></li>
                                                                </ul>
                                                            </div><!-- /btn-group -->
                                                        </div><!-- /btn-group -->
                                                    </div>
                                                <div class="form-group row">
                                                        <label for="input4" class="col-sm-2 col-form-label">Tamaño</label>
                                                        <div class="col-sm-10">
                                                            <input id='Tam2' name="Tam" type="number" pattern="[0-9]" class="form-control" onkeyup="checkTam(1)" onkeypress="return isNumberKey(event)" placeholder="2" required>
                                                        </div>
                                                        </div>
                                                <div class="form-group row">
                                                        <label for="input4" class="col-sm-2 col-form-label">Valor por defecto</label>
                                                        <div class="col-sm-10">
                                                            <input id='Def2' name="Def" type="text" class="form-control" onkeypress="" placeholder="01" required>
                                                        </div>
                                                        </div>
                                                        
                                                <div class="form-group row">
                                                    <div class="col-sm-10">
                                                    <button type="submit" class="btn btn-primary">Actualizar bloque</button>
                                                    </div>
                                                </div>
                                                </form>
                                            </div>
                                <div class="modal-footer">
                                        Para correcto funcionamiento de la aplicación, al menos un bloque debe llamarse "Codigo Evento" (Para evento de alarma), "Nro Abonado" (Para Cliente), y "Nro Zona_User" (Para la zona de la alarma)
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                </div>
                                    
                                </div>
                            </div>
                        </div>

            </div>
            {% endif %}

            {% if '/opciones/evento' in request.url %}
            
            
            <div id="ProtoEventosTable">
                    <div  style = 'margin-top: 25px; margin-left: 100px; margin-right: 100px; width: 90%;'><h1>{{ protoN }}</h1></div>
                    <div class ='row'  style = 'margin-top: 25px; margin-left: 100px; margin-right: 100px;'>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventoCreate">Nuevo evento</button>
                        </div>
                        <div class="col-md-4">
                                <button type="button" data-toggle="modal" data-target="#Eventosimport" class="btn btn-primary">Importar CSV</button>
                        </div>
                        <div class="col-md-4">
                            <a href="{{ url_for('descargar_eventos', protoS = proto ) }}">
                                <button type="button" class="btn btn-primary">Exportar CSV</button>
                            </a>
                        </div>
                    </div>
                    <table class = 'table table-hover' style = 'margin-top: 25px; margin-left: 100px; margin-right: 100px; width: 90%;'>
                        <thead>
                            <tr>
                            <th>Codigo de Evento</th>
                            <th>Tipo</th>
                            <th>Regla de Estado</th>
                            <th>Nombre</th>
                            </tr>
                        </thead>
                        {% for result in results %}
                            <tr>
                            <td>{{result[1]}}</td>
                            <td>{{result[2]}}</td>
                            <td>{{result[3]}}</td>
                            <td>{{result[4]}}</td>
                            <td align="center"><a href = "#" data-toggle="modal" data-target="#eventoEdit" onclick="editEvento( '{{ result[0] }}', '{{ result[1] }}', '{{ result[2] }}', '{{ result[3] }}', '{{ result[4] }}' )"><i class="fas fa-edit"></a></td>
                            <td align="center"><a href = "{{ url_for('sql_evento_delete', protoS=result[0], evento=result[1]) }}"><i class="fas fa-trash-alt"></a></td>
                            </tr>
                        {% endfor %}
                    </table>

                    <div id="eventoCreate" class="modal fade" role="dialog">
                        <div class="modal-dialog">      
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Evento</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('sql_evento_create') }}" method="POST">
                                        <input id='proto' name="proto" type="hidden" class="form-control" value="{{ proto }}">
                                        <input id='protoN' name="protoN" type="hidden" class="form-control" value="{{ protoN }}">
                                        <div class="form-group row">
                                                <label for="input3" class="col-sm-2 col-form-label">Codigo de Evento</label>
                                                <div class="col-sm-10">
                                                    <input id='Cod' name="Cod" type="text" class="form-control" placeholder="101" required>
                                                </div>
                                        </div>
                                        <div class="form-group row">
                                                <label for="input3" class="col-sm-2 col-form-label">Tipo</label>
                                                <div class="col-sm-10">
                                                    <input id='Tip' name="Tip" type="text" class="form-control" placeholder="Alarma">
                                                </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="input3" class="col-sm-2 col-form-label">Regla de estado</label>
                                            <div class="col-sm-10">
                                                
                                                <div class="input-group-btn">
                                                    <button id="reglaButton" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" required>Regla de estado <span class="caret"></span></button>
                                                    <ul id="reglaSelect" class="dropdown-menu pre-scrollable" role="menu" aria-labelledby="dLabel" required>
                                                        <div id='listareglas'>
                                                            {% for regla in reglas %}
                                                                <li><a class="dropdown-item" value="{{ regla[0] }}" href="#" onclick="setEvento( 1, '{{ regla[0] }}' , '{{ regla[1] }}' )"> {{ regla[0] }} - {{ regla[1] }}</a></li>
                                                            {% endfor %}
                                                        </div>
                                                    </ul>
                                                    <input type="hidden" class="form-control" id="reglaText" name="Reg" value="">
                                                </div><!-- /btn-group -->
                                            </div><!-- /btn-group -->
                                        </div>
                                        <div class="form-group row">
                                                <label for="input4" class="col-sm-2 col-form-label">Nombre</label>
                                                <div class="col-sm-10">
                                                    <input id='Nom' name="Nom" type="text" class="form-control" placeholder="Fuego" required>
                                                </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary">Añadir evento</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>         
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="eventoEdit" class="modal fade" role="dialog">
                            <div class="modal-dialog">      
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Evento</h4>
                                    </div>
                                    <div class="modal-body">
                                            <form action="{{ url_for('sql_evento_edit') }}" method="POST">
                                                    <input id='proto' name="proto" type="hidden" class="form-control" value="{{ proto }}">
                                                    <input id='protoN' name="protoN" type="hidden" class="form-control" value="{{ protoN }}">
                                                    <div class="form-group row">
                                                            <label for="input3" class="col-sm-2 col-form-label">Codigo de Evento</label>
                                                            <div class="col-sm-10">
                                                                <input id='Cod2' name="Cod" type="text" class="form-control" placeholder="101" required>
                                                            </div>
                                                    </div>
                                                    <div class="form-group row">
                                                            <label for="input3" class="col-sm-2 col-form-label">Tipo</label>
                                                            <div class="col-sm-10">
                                                                <input id='Tip2' name="Tip" type="text" class="form-control" placeholder="Alarma">
                                                            </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="input3" class="col-sm-2 col-form-label">Regla de estado</label>
                                                        <div class="col-sm-10">
                                                            
                                                            <div class="input-group-btn">
                                                                <button id="reglaButton2" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" required>Regla de estado <span class="caret"></span></button>
                                                                <ul id="reglaSelect2" class="dropdown-menu pre-scrollable" role="menu" aria-labelledby="dLabel" required>
                                                                    <div id='listareglas2'>
                                                                        {% for regla in reglas %}
                                                                            <li><a class="dropdown-item" value="{{ regla[0] }}" href="#" onclick="setEvento( 0, '{{ regla[0] }}' , '{{ regla[1] }}' )"> {{ regla[0] }} - {{ regla[1] }}</a></li>
                                                                        {% endfor %}
                                                                    </div>
                                                                </ul>
                                                                <input type="hidden" class="form-control" id="reglaText2" name="Reg" value="">
                                                            </div><!-- /btn-group -->
                                                        </div><!-- /btn-group -->
                                                    </div>
                                                    <div class="form-group row">
                                                            <label for="input4" class="col-sm-2 col-form-label">Nombre</label>
                                                            <div class="col-sm-10">
                                                                <input id='Nom2' name="Nom" type="text" class="form-control" placeholder="Fuego" required>
                                                            </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-10">
                                                        <button type="submit" class="btn btn-primary">Editar evento</button>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" type="text" class="form-control" val="" id="oldEvento" name="oldEvento">
                                                </form>
                                                </div>
                                    <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                    </div>
                    <div id="Eventosimport" class="modal fade" role="dialog">
                            <div class="modal-dialog">      
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Importar eventos</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action = "{{ url_for('cargar_eventos') }}" method = "POST" enctype="multipart/form-data">
                                            <div align="center">
                                                <input type="file" name="file">
                                                <input id='proto' name="proto" type="hidden" class="form-control" value="{{ proto }}">
                                                <input id='protoN' name="protoN" type="hidden" class="form-control" value="{{ protoN }}">
                                                <input type=submit value=Cargar>
                                            </div>
                                        </form>
                            
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                    </div>


                   

            </div>
            {% endif %}


      
    </body>
</html>

<script>
       $(document).ready(function(){
            $("#Def").prop('maxlength', $("#Tam").val(0));
            $("#Def2").prop('maxlength', $("#Tam").val(0));
           var socket = io.connect('http://' + document.domain + ':' + location.port + '/check');
       })


        function setTipo(type, modo){
            if (modo == 0){
                switch(type) {
                case 0:
                    $("#tipoButton").html("ascii")
                    $("#TSelect").val("ascii")
                    $("#Def").prop('type', "text");
                    $("#Def").prop('onkeypress', "");
                    break;
                case 1:
                $("#tipoButton").html("int")
                    $("#TSelect").val("int")
                    $("#Def").prop('type', "number");
                    $("#Def").prop('onkeypress', "return isNumberKey(event)");
                    break;
                case 2:
                $("#tipoButton").html("hex")
                    $("#TSelect").val("hex")
                    $("#Def").prop('type', "text");
                    $("#Def").prop('onkeypress', "");
                    break;
                case 3:
                $("#tipoButton").html("char")
                    $("#TSelect").val("char")
                    $("#Def").prop('type', "text");
                    $("#Def").prop('onkeypress', "");
                break;
                default:
                    break;
                };

            } else {
                switch(type) {
                case 0:
                    $("#tipoButton2").html("ascii")
                    $("#TSelect2").val("ascii")
                    $("#Def2").prop('type', "text");
                    $("#Def2").prop('onkeypress', "");
                    break;
                case 1:
                $("#tipoButton2").html("int")
                    $("#TSelect2").val("int")
                    $("#Def2").prop('type', "number");
                    $("#Def2").prop('onkeypress', "return isNumberKey(event)");
                    break;
                case 2:
                $("#tipoButton2").html("hex")
                    $("#TSelect2").val("hex")
                    $("#Def2").prop('type', "text");
                    $("#Def2").prop('onkeypress', "");
                    break;
                case 3:
                $("#tipoButton2").html("char")
                    $("#TSelect2").val("char")
                    $("#Def2").prop('type', "text");
                    $("#Def2").prop('onkeypress', "");
                break;
                default:
                    break;
                };
            }
        }

        function checkTam(sel){
            if (sel == 0 && $("#Tam").val() != ""){
                $("#Def").prop('maxlength', $("#Tam").val());
                $("#Def").prop('maxlength', $("#Tam").val());
            }
            if (sel == 1 && $("#Tam2").val() != ""){
                $("#Def2").prop('maxlength', $("#Tam2").val());
            }
        }

        function isNumberKey(evt){
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
        }

        function bloqueEdit(protoID, orden, nombre, tipo, tam, defecto){
            checkTam(1)
            $("#TSelect2").val(tipo)
            $("#tipoButton2").html(tipo)
            $("#Ord2").val(orden)
            $("#Ord3").val(orden)
            $("#Nom2").val(nombre)
            $("#Tam2").val(tam)
            $("#Def2").val(defecto)
            
        }

        function setEvento(i, reg, regN){
            if (i == 1) {
                $("#reglaText").val(reg)
                $("#reglaButton").html(reg + " - " + regN)
            }
            else {
                $("#reglaText2").val(reg)
                $("#reglaButton2").html(reg + " - " + regN)
            }
        }

        function editEvento(proto, evento, tipo, regla, nombre){
            $("#reglaText2").val(regla)
            $("#reglaButton2").html(regla)
            $("#reglaButton2").val(regla)
            $("#Cod2").val(evento)
            $("#Nom2").val(nombre)
            $("#Tip2").val(tipo)
            $("#oldEvento").val(evento)
            checkTam(0)
            checkTam(1)
        }



   </script>
{% endblock content %}