{% extends "Base.html" %}

<html>
        {% block head %}
            {{ super() }}
            {% block title %} {{ super() }} {% endblock %}
        {% endblock %}

   <body>
    {% block content %}
        {{ super() }}
        <br><br>
        <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('opciones') }}">Opciones</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{{ url_for('sql_tarea') }}">Tareas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('sql_proto') }}">Protocolos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('sql_reglas') }}">Reglas de Estado</a>
                </li>
        </ul>
        {% if '/opciones/tarea' in request.url %}
        <div id="TareasTable">

              <form action="{{ url_for('sql_tarea_tcreate') }}" method="POST" style = 'margin-top: 25px; margin-left: 100px; margin-right: 100px;'>
                      <div class="input-group mb-3">
                              <div class="col-lg-2">
                                  <input name = "name" type="text" class="form-control" placeholder="" aria-label="Nombre de Tarea" aria-describedby="button-addon2" required>
                              </div>
                              <div class="input-group-append">
                                  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Crear Tarea</button>
                              </div>
                      </div>
                  </form>


          <table class = 'table table-hover' style = 'margin-left: 100px; margin-right: 100px; width: 90%;'>
              <thead>
                  <tr>
                  <th>Nombre Tarea</th>
                  <th>Descripción</th>
                  </tr>
              </thead>

              {% for tarea in tareas %}
                  <tr>
                  <td>{{ tarea[1] }}</td>
                  <td>{{ tarea[2] }}</td>
                  <td align="center"><a href = "{{ url_for('sql_tarea_query', tareaS=tarea[0]) }}"><i class="fas fa-edit"></a></td>
                  <td align="center"><a href = "{{ url_for('sql_tarea_delete', tareaS=tarea[0]) }}"><i class="fas fa-trash-alt"></a></td>
                  </tr>
              {% endfor %}
          </table>
        </div>
        {% endif %}

        {% if '/opciones/edit' in request.url %}
        <div id="TareasEdit">
          <div class="row">
              <div class="row" >
                    <form action="{{ url_for('sql_tarea_name') }}" method="POST" style = 'margin-top: 25px; margin-left: 100px; margin-right: 100px;'>
                        <div class="input-group mb-3" >
                                    <input name = "name" type="text" class="form-control" placeholder='{{ selectt[1] }}' name = "new_name" value='{{ selectt[1] }}'  required>
                                    <input type ="hidden" name = "IDTarea" value='{{ select }}' />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Cambiar nombre</button>
                                    </div>
                      </div>       
                    </form>
              </div>
              <div class="row" >
                      <form action="{{ url_for('sql_tarea_desc') }}" method="POST" style = 'margin-top: 25px; margin-left: 100px; margin-right: 100px;'>
                                <div class="input-group mb-3" >
                                    <input name = "desc" type="text" class="form-control" placeholder="{{ selectt[2] }}" name = "new_name" value='{{ selectt[2] }}'  required>
                                    <input type = "hidden" name = "IDTarea" value='{{ select }}' />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit" id="button-addon3">Cambiar Descripción</button>
                                    </div>
                                </div>
                    </form>
                    </div>
          </div>
            <table class = 'table table-hover' style = 'margin-left: 100px; margin-right: 100px; width: 90%;'>
                <thead>
                    <tr>
                    <th>N. Mensaje</th>
                    <th>Protocolo</th>
                    <th>Evento</th>
                    <th>Cliente</th>
                    <th>Nro Zona</th>
                    <!-- <th>Regla Estado</th> -->
                    </tr>
                </thead>

                {% for result in results %}
                    <tr>
                    <td>{{result[1]}}</td>
                    <td>{{result[9]}}</td>
                    <td>{{result[3]}}</td>
                    <td>{{result[4]}}</td>
                    <td>{{result[5]}}</td>
                    <!-- <td>{{result[6]}}</td> -->
                    <td align="center"><a href = "#" data-toggle="modal" data-target="#tareaMensajeEdit" onclick="editMensaje( '{{ result[0] }}', '{{ result[1] }}', '{{ result[8] }}', '{{ result[9] }}' , '{{ result[3] }}', '{{ result[4] }}', '{{ result[5] }}' )"><i class="fas fa-edit"></a></td>
                    <td align="center"><a href = "{{ url_for('sql_tarea_mdelete', tareaS1= result[0] , tareaS2= result[1]  ) }}"><i class="fas fa-trash-alt"></a></td>
                    </tr>
                {% endfor %}
            </table>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tareaMensajeCreate" style = 'margin-left: 100px; margin-right: 100px;'>Nuevo Mensaje</button>
            <div id="tareaMensajeCreate" class="modal fade" role="dialog">
                    <div class="modal-dialog">      
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Mensaje</h4>
                            </div>
                            <div class="modal-body">
                                    <form action="{{ url_for('sql_tarea_mcreate', TareaS = selectt[0]) }}" method="POST">
                                            <div class="form-group row">
                                              <label class="col-sm-2 col-form-label">Protocolo</label>
                                              <div class="col-sm-10">
                                                    <div class="input-group-btn">
                                                            <button  id="protoButton"  type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Protocolo <span class="caret" required></span></button>
                                                            <ul id="protoSelect" class="dropdown-menu" role="menu" aria-labelledby="dLabel" value="" >
                                                                <div id='listaPro'>
                                                                </div>
                                                            </ul>
                                                          <input type="hidden" class="form-control" id="protoText" name="Pid" value="">
                                                        </div><!-- /btn-group -->
                                              </div>
                                            </div>

                                            <div class="form-group row">
                                                    <label for="input2" class="col-sm-2 col-form-label">Evento</label>
                                                    <div class="col-sm-10">
                                                        
                                                        <div class="input-group-btn">
                                                            <button id="eventoButton" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Evento <span class="caret" required></span></button>
                                                            <ul id="eventoSelect" class="dropdown-menu pre-scrollable" role="menu" aria-labelledby="dLabel" value="" required>
                                                                <div id='listaEvento'>
                                                                    <li><a class="dropdown-item" href="#"> Seleccione un protocolo</a></li>
                                                                </div>
                                                            </ul>
                                                            <input type="hidden" class="form-control" id="eventoText" name="Evn" value="">
                                                        </div><!-- /btn-group -->
                                                    </div><!-- /btn-group -->
                                                </div>


                                            <div class="form-group row">
                                                    <label for="input3" class="col-sm-2 col-form-label">Cliente</label>
                                                    <div class="col-sm-10">
                                                      <input name="Cli" id='cliente' type="text" class="form-control"placeholder="0001" required>
                                                    </div>
                                                  </div>
                                            <div class="form-group row">
                                                    <label for="input4" class="col-sm-2 col-form-label">N.Zona</label>
                                                    <div class="col-sm-10">
                                                      <input name="Zon" id='zona' type="text" class="form-control" placeholder="01" required>
                                                    </div>
                                                  </div>
                                                  
                                            <div class="form-group row">
                                              <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary">Añadir mensaje</button>
                                              </div>
                                            </div>
                                          </form>
                                        </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
            </div>

            <div id="tareaMensajeEdit" class="modal fade" role="dialog">
                <div class="modal-dialog">      
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Mensaje</h4>
                        </div>
                        <div class="modal-body">
                          <form action="{{ url_for('sql_tarea_medit') }}" method="POST">
                            <div class="form-group row">
                              <label for="input2" class="col-sm-2 col-form-label">Protocolo</label>
                              <div class="col-sm-10">
                                    <div class="input-group-btn">
                                            <button id="protoButton2"  type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" required>Protocolo <span class="caret"></span></button>
                                            <ul id="protoSelect2" class="dropdown-menu" role="menu" aria-labelledby="dLabel" required>
                                                <div id='listaProEdit'>
                                                </div>
                                            </ul>
                                        <input type="hidden" class="form-control" id="protoText2" name="PidE" value="">
                                        </div><!-- /btn-group -->
                              </div>
                            </div>
                            <div class="form-group row">
                                    <label for="input3" class="col-sm-2 col-form-label">Evento</label>
                                    <div class="col-sm-10">
                                        
                                        <div class="input-group-btn">
                                            <button id="eventoButton2" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" required>Evento <span class="caret"></span></button>
                                            <ul id="eventoSelect2" class="dropdown-menu pre-scrollable" role="menu" aria-labelledby="dLabel" required>
                                                <div id='listaEventoEdit'>
                                                </div>
                                            </ul>
                                            <input type="hidden" class="form-control" id="eventoText2" name="EvnE" value="">
                                        </div><!-- /btn-group -->
                                    </div><!-- /btn-group -->
                            </div>
                            <div class="form-group row">
                                    <label for="input4" class="col-sm-2 col-form-label">Cliente</label>
                                    <div class="col-sm-10">
                                      <input id='cliente2' type="text" class="form-control" id="cliente2" name="CliE" placeholder="0001" required>
                                    </div>
                            </div>
                            <div class="form-group row">
                                    <label for="input5" class="col-sm-2 col-form-label">N.Zona</label>
                                    <div class="col-sm-10">
                                      <input id='zona2' type="text" class="form-control" id="zona2" name="ZonE" placeholder="01" required>
                                    </div>
                            </div>
                            <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Modificar mensaje</button>
                            </div>
                            </div>
                                <input type="hidden" type="text" class="form-control" val="" id="oldTarea" name="oldTarea">
                                <input type="hidden" type="text" class="form-control" val="" id="oldMens" name="oldMens">
                          </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </body>
</html>



<script>
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
        var socket2 = io.connect('http://' + document.domain + ':' + location.port + '/proto');
        socket.emit('SolicitarProtocolos3');                                           
        socket.on('listaProtocolos3', function(msg) {                                             
            for (let o of msg.data) {
                $('#listaPro').append('<li><a class="dropdown-item" value="'+ o + '" href="#" onclick="printEventos(\'' + o[0] + '\', \'' + o[1] + '\', 0)">' + o[1] + '</a></li>')
                $('#listaProEdit').append('<li><a class="dropdown-item" value="'+ o + '" href="#" onclick="printEventos(\'' + o[0] + '\', \'' + o[1] + '\', 1)">' + o[1] + '</a></li>')
            }
        });
        socket2.on('listaProtocolos2', function(msg) {
            var protoId = msg.data[3][0]
            var protoN = msg.data[3][1]
            console.log("yes")
            for (let o of msg.data[0]) {
                $('#listaEvento').append('<li><a class="dropdown-item"  value="'+ o[0] + '" onclick="showEvento(\'' + o[0] + '\', 0)">' + o[0] + " - " + o[1] + '  </a></li>')
                $('#listaEventoEdit').append('<li><a class="dropdown-item"  value="'+ o[0] + '" onclick="showEvento(\'' + o[0] + '\', 1)">' + o[0] + " - " + o[1] + '</a></li>')
            }
            if (msg.data[3][2] == 0){
                $('#protoButton').html(protoN)
                $('#protoButton').val(protoId)
                $('#protoText').val(protoId)
                $('#protoText').html(protoId)
                $("#cliente").prop('maxlength', msg.data[1][0]);
                $("#cliente").prop('minlength', msg.data[1][0]);
                $("#cliente").prop('placeholder', msg.data[1][1]);
                $("#cliente").val(msg.data[1][1]);
                $("#zona").prop('maxlength', msg.data[2][0]);
                $("#zona").prop('minlength', msg.data[2][0]);
                $("#zona").prop('placeholder', msg.data[2][1]);
                $("#zona").val(msg.data[2][1]);
            } 
            else {
                $('#protoButton2').html(protoN)
                $('#protoButton2').val(protoId)
                $('#protoText2').val(protoId)
                $('#protoText2').html(protoId)
                $("#cliente2").prop('maxlength', msg.data[1][0]);
                $("#cliente2").prop('minlength', msg.data[1][0]);
                $("#cliente2").prop('placeholder', msg.data[1][1]);
                $("#cliente2").val(msg.data[1][1]);
                $("#zona2").prop('maxlength', msg.data[2][0]);
                $("#zona2").prop('minlength', msg.data[2][0]);
                $("#zona2").prop('placeholder', msg.data[2][1]);
                $("#zona2").val(msg.data[2][1]);
            }
            
          });

        function printEventos(protoId, ProtoN, mode){
              document.getElementById("listaEvento").innerHTML = "";
              $('#eventoButton').html("Evento")
              $('#eventoButton').val("")
              $('#eventoText').val($('#eventoButton').html())
              document.getElementById("listaEventoEdit").innerHTML = "";
              $('#eventoButton2').html("Evento")
              $('#eventoButton2').val("")
              $('#eventoText2').val($('#eventoButton').html())
            //document.getElementById("listaEventoEdit").innerHTML = "";
            socket2.emit('SolicitarProtocolos2', {data: [protoId, ProtoN, mode]});  
        }
        function showEvento(e, mode){
            if (mode == 0) {
              $('#eventoButton').html(e)
              $('#eventoButton').val(e)
              $('#eventoText').val($('#eventoButton').html())
            } else {
              $('#eventoButton2').html(e)
              $('#eventoButton2').val(e)
              $('#eventoText2').val($('#eventoButton2').html())
            }
        }
        function setName(name){d
           $("#selectOldName").val(name);
        }
        function editMensaje(tareaID, mensajeID, protoID, proto, evento, cliente, zona){
          socket2.emit('SolicitarProtocolos2', {data: [protoID, proto, 1]});
          console.log("yes")
          $('#protoButton2').html(proto)
          $('#protoButton2').val(protoID)
          $('#protoText2').val(protoID)
          $('#protoText2').html(proto)
          $('#eventoButton2').html(evento)
          $('#eventoButton2').val(evento)
          $('#eventoText2').val($('#eventoButton2').html())
          $('#cliente2').html(cliente)
          $('#cliente2').val(cliente)
          $('#zona2').html(zona)
          $('#zona2').val(zona)
          $('#oldTarea').val(tareaID)
          $('#oldMens').val(mensajeID)
        }

   </script>
{% endblock content %}